@charset "utf-8";
/* CSS Document */

.mybox {
	display: block;
	position: fixed;
	z-index: 9999;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background-color: #FFF;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding-top: 100px;
	font-size: 13px;
	line-height: 24px;
	color: #333;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 100px;
}


.mybox img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.mybox .container .row .modal-body {
	position: relative;
}


.mybox .container .close-modal {
	position: fixed;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}
.mybox .container .close-modal:hover {
	opacity: .3;
}
.mybox .container .close-modal .lr {
	z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mybox .container .close-modal .lr .rl {
	    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}