

.page_navigation a, .alt_page_navigation a{
	padding:8px 16px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#1A1A1A;
}
.active_page{
	background-color:white !important;
	color:black !important;
}	

