/*<!--space css-->*/
/*<!--all-->*/
.all-padding-sm{
	.space-top-bm-sm;
	.space-left-right-sm;
	}
.all-padding-xs{
	.space-top-bm-xs;
	.space-left-right-xs;
	}
.all-padding-xxs{
  padding:5px !important;
}
.allMargin-xxs{
	margin:5px;
	}
.allMargin-xs{
	margin:10px;
}
.padding-non{
	padding:0px;
	}
/*<!--top bm-->*/
.Margin-top-bm-xs{
	margin-top:10px;
	margin-bottom:10px;
}
.space-top-bm-lg {
	padding-top: 50px;
	padding-bottom: 50px;
}	
.space-top-bm {
	padding-top: 30px;
	padding-bottom: 30px;
}	
.space-top-bm-sm {
	padding-top: 20px;
	padding-bottom: 20px;
}
.space-top-bm-xs {
	padding-top: 10px;
	padding-bottom: 10px;
}
.Margin-top-bm {
	.Margin-top;
	.Margin-bm;
	}
.Margin-top-bm-sm {
.Margin-top-sm;
.Margin-bm-sm;
	}
/*<!--top-->*/
.Margin-top-lg{
	margin-top:40px;
	}
.Margin-top {
	margin-top:30px;
	}
.Margin-top-sm{
	margin-top:20px;
	}
.Margin-top-xs{
	margin-top:10px;
}
.space-top-lg {
	padding-top: 40px;
}
.space-top{
	padding-top: 30px;
}	
.space-top-sm{
	padding-top: 20px;
}
.space-top-xs{
	padding-top: 10px;
}

/*<!--bm-->*/
.space-bm-lg{
	padding-bottom: 70px;
}
.space-bm{
	padding-bottom: 30px;
}
.space-bm-sm{
	padding-bottom:20px;
}
.space-top-sm {
	padding-top: 20px;
}

.space-bm-xs{
	padding-bottom:10px;
}
.space-bm-xxs{
	padding-bottom:5px;
}
.Margin-bm {
	margin-bottom:30px;
}
.Margin-bm-sm {
	margin-bottom:20px;
}
.Margin-bm-xs {
	margin-bottom:10px;
}		
/*<!--left-->*/
.Margin-left-xs{
	margin-left:10px;
}

.space-left-xs{
	padding-left:10px;
	}
.space-left-sm{
	padding-left:20px;
	}
.space-left{
	padding-left:30px;
	}
	
	.space-right{
	padding-right:30px;
	}
		.space-right-sm{
	padding-right:20px;
	}
		.space-right-xs{
	padding-right:10px;
	}
.space-left-right-xs{
	padding-left:10px;
	padding-right:10px;
	}
.space-left-right-sm{
	padding-left:20px;
	padding-right:20px;
	}
	.space-left-right-lg{
	padding-left:50px;
	padding-right:50px;
	}
.space-three-xs{
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	}

	/*<!--ul li css-->*/
.all-ul-li-none{
	margin:0px;
	padding:0px;
	list-style: none;	
	}
.style-li-none{
	list-style: none;	
}
.li-space-hidden{
	height:20px;
	overflow: hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}

.all-border{
	border: 1px solid transparent;
    border-color: #ddd;
	}
.all-border-bold{
	border: 5px solid transparent;
    border-color:#CCCCCC;
	}
	/*<!--banner css-->*/
.dialogue-txt{
	padding-top:200px;
	line-height:38px;
	text-shadow: 0 0 8px #333;
	}	
	/*<!--text css-->*/	
.color-white{
	color:#FFFFFF;
	}
.bold-txt{
	font-weight:bold;
	
	font-family: "微軟正黑體", "Microsoft JhengHei"; 
	}
	
.big_txt{
	font-size:26px;
	.myword;
}
.xs-text{
	font-size:13px;
	}
.sm-text{
	font-size:15px;
	}
.txt-line-lg{
	line-height:30px;
	}
.txt-line-md{
	line-height:24px;
	}
.txt-line-sm{
	line-height:22px;
}
.txt-line-xs{
	line-height:20px;
	text-align:justify;
}
.myword{
font-family:Meiryo, "Meiryo UI", "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif ;
}
.enword{
font-family: Georgia, "Times New Roman", Times, serif;	
  }
.big-font{
  font-size:56px;
  .myword;
}
.md-font{
font-size:36px;
}

.sm-font{
font-size:22px;
.myword;
}
.color-yellow-bk{
background-color:#fcca3a;
}
.color-white-bk{
background-color:#FFFFFF;
}
.color-yellow{
color:#fcca3a;
}

.color-bk-red{
	background-color:#c1272d;
	}
.color-wd-red{
	color:#c1272d;
}	
.border-sm{
border-radius: 10px;
}
.border-sm-white{
	border: 6px solid #FFF;
}
/*high*/
.hidden-big{
  overflow: hidden;
	max-height: 140px;
	text-overflow : ellipsis;
	}
.hidden-md{
  overflow: hidden;
	max-height: 110px;
	text-overflow : ellipsis;
	}
.hidden-xs{
  overflow: hidden;
	max-height: 80px;
	text-overflow : ellipsis;
	}
.hidden-xxs{
  overflow: hidden;
	max-height: 35px;
	text-overflow : ellipsis;
	}


					
/*banner*/
.newsList{
	background-color:rgba(255,255,255,1.00);	
	}
.map{
	background-color:rgba(255,255,255,1.00);		
}
.imger {
	
  height: 350px;
}
.cover-img{
	background-repeat:no-repeat;
-moz-background-size:cover;
-webkit-background-size:cover;
-o-background-size:cover;
background-size:cover;
	}
.contain-img{
	-moz-background-size:cover;
-webkit-background-size:cover;
-o-background-size:cover;
background-size:contain;
background-position: center center;
background-repeat:no-repeat;
	}
	.large-yellow-word{
		color:#fcca3a;
		.myword;
		}
	.bold-white-word{
		color:#FFFFFF;
		font-size:22px;
		.myword;
		}

.add-padding{
	padding-left:30px;
	padding-right:30px;
		}
.right-box{
	float:right;
	}
.color-gray{
	color:#888888;
	}
	.color-lightgray{
	color:#CCCCCC;
	}

	.txt-auto-height{
	line-height:28px;
	}
	.down-space{
		padding-bottom: 50px;
	}
.float-l{
	float:left;
	}
	.float-r{
	float:right;
	}
.margin-left20{
	margin-left:20px;
	}
	.margin-right-md{
	margin-right:20px;
	}
	.margin-right-sm{
	margin-right:10px;
	}
	.margin-right-xs{
	margin-right:5px;
	}
	.btn-small{
		.img-align;
		width:100px;
		margin-top:20px;
		margin-bottom:20px;
		padding-top:10px;
		padding-bottom:10px;
		}
		
		.img-align{
	margin-left:auto;
	margin-right:auto;

	}
/*public css*/
.years-list{
	margin:0px;
	padding:0px;
	}
	.years-list li{
	list-style:none;
	margin:0px;
	}
	.years-list li a{
		background:rgba(255,255,255,1.00);
		color:rgba(87,87,87,1.00);
		width:100%;
		float:left;
		.space-three-xs;
		.border-sm;
		.allMargin-xxs;
	}
.icon-yellow{
	background-image: url(../images/title-b.png);
	background-repeat: no-repeat;
	}
	.news-more-bk{
		width:150px;
background-image: url("../images/btn_bk.png");
background-repeat: no-repeat;
		}
.cont-first{
	.float-l;
	}
.page-icon{
	font-size:16px;
	top:20px;
	.color-lightgray;
	.right-box;
	}
.backheight{
	height: 550px;
	}
.green-cycle{
	color:#93b73b;
	} 
.greentext{
	color:#93b73b;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 26px;
	font-weight: bold;
	} 
.space-small{
	padding-top:30px;
	padding-bottom:30px;
	}
	.space-large{
	padding-top:80px;
	padding-bottom:80px;
	}
.nopadding {
   padding:0px;
   margin:0px;
}

.black-bg{
	.cover-img;
	}
	.bkcycle{
		background:url(../images/bk-cycle.png);
.contain-img;
	}
.bkstyle {
background: #e8e8e8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, #e8e8e8 0%, #ffffff 74%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(74%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e8e8e8 0%,#ffffff 74%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e8e8e8 0%,#ffffff 74%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e8e8e8 0%,#ffffff 74%); /* IE10+ */
background: linear-gradient(to bottom, #e8e8e8 0%,#ffffff 74%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	}
	.nav_bk a {
    width: 100%;
    text-align: center;
    display: block;
    color: #666;
    font-size: 15px;
    border: 1px solid #EBEBEB;
    background-color: #FFF;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-bottom: 5px;
    padding: 10px;
}
#footer {
	background-color:#FFFFFF;
	width: 100%;
	float: left;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}
#footer a {
	color: #676767;
	text-decoration: none;
	width: 100%;
	font-size: 12px;
	clear: both;
	display: block;
	line-height: 26px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
}
#footer_final {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #333333;
	font-size: 13px;
	color: #FFF;
	text-align: center;
	float: left;
	width: 100%;
} 