<?php if($func == 'product_view' || $func == 'product_grain_view'){ ?>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>   
<?php }else{ ?>
  <script src="<?php echo getUserFile('js/jquery-1.11.3.js')?>"></script> 
<?php } ?>
<script src="<?php echo getUserFile('js/dio_plugins/common.js')?>"></script>
<script src="<?php echo getUserFile('js/bootstrap.js')?>"></script> 
<script src="<?php echo getUserFile('js/wow.min.js')?>"></script> 
<script src="<?php echo getUserFile('js/parallax.js')?>"></script> 
<script src="<?php echo getUserFile('js/jquery.nicescroll.js')?>"></script> 