<div class="breadcrumb">

	<a href="<?php echo getAdminURL('dashboard/main')?>/">主控台</a>
	<?php  switch ( getUrlLast2Section() ) {

		/*
		case 'about/lists':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('about/lists');
			break;
				
		case 'about/add':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('about/lists').":: 新增";
			break;
			*/
				
		case 'about/edit':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('about/lists');
			break;		
		
		
		case 'action/lists':
			echo "::".getAminMenuFormat('action/lists');
			break;
		
		case 'action/add':
			echo "::".getAminMenuFormat('action/lists').":: 新增";
			break;
		
		case 'action/edit':
			echo "::".getAminMenuFormat('action/lists').":: 編輯";
			break;
		
		case 'action/add_product':
			echo "::".getAminMenuFormat('action/lists').":: 加入商品";
			break;
		
		case 'action/view_product':
			echo "::".getAminMenuFormat('action/lists').":: 檢視商品";
			break;
			

		case 'ad_banner/lists':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('ad_banner/lists');
			break;
					
		case 'ad_banner/add':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('ad_banner/lists').":: 新增";
			break;
					
		case 'ad_banner/edit':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('ad_banner/lists').":: 編輯";
			break;
		

		case 'ad_home/lists':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('ad_home/lists');
			break;
			
		case 'ad_home/add':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('ad_home/lists').":: 新增";
			break;
			
		case 'ad_home/edit':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('ad_home/lists').":: 編輯";
			break;
			
			
		case 'ad_product/lists':
			echo "::".getAminMenuFormat('ad_product/lists');
			break;
			
		case 'ad_product/add':
			echo "::".getAminMenuFormat('ad_product/lists').":: 新增";
			break;
			
		case 'ad_product/edit':
			echo "::".getAminMenuFormat('ad_product/lists').":: 編輯";
			break;
			

		case 'ad_content/lists':
			echo "::".getAminMenuFormat('ad_content/lists');
			break;
					
		case 'ad_content/add':
			echo "::".getAminMenuFormat('ad_content/lists').":: 新增";
			break;
					
		case 'ad_content/edit':
			echo "::".getAminMenuFormat('ad_content/lists').":: 編輯";
			break;	

			
		case 'article/lists':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('article/lists');
			break;
					
		case 'article/add':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('article/lists').":: 新增";
			break;
					
		case 'article/edit':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('article/lists').":: 編輯";
			break;
			
			
		case 'awards/lists':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('awards/lists');
			break;
				
		case 'awards/add':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('awards/lists').":: 新增";
			break;
					
		case 'awards/edit':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('awards/lists').":: 編輯";
			break;			
			
					
		case 'admin/lists':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('admin/lists');
			break;
			
		case 'admin/add':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('admin/lists').":: 新增";
			break;
			
		case 'admin/edit':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('admin/lists').":: 編輯";
			break;
			
		case 'admin/pass':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo ":: 密碼";
			break;


		case 'admin_group/lists':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('admin_group/lists');
			break;
					
		case 'admin_group/add':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('admin_group/lists').":: 新增";
			break;
					
		case 'admin_group/edit':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('admin_group/lists').":: 編輯";
			break;

		case 'admin_group_role/edit':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('admin_group/lists').":: 權限";
			break;			
			
		case 'barcode/index':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('barcode/index');
			break;
			
		case 'brand/lists':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('brand/lists');
			break;
					
		case 'brand/add':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('brand/lists').":: 新增";
			break;
					
		case 'brand/edit':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('brand/lists').":: 編輯";
			break;
				

		case 'branch/lists':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('branch/lists');
			break;
					
		case 'branch/add':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('branch/lists').":: 新增";
			break;
					
		case 'branch/edit':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('branch/lists').":: 編輯";
			break;			
			
		case 'branch/pass':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('branch/lists').":: 管理員";
			break;
				

		case 'category_promo/lists':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('category_promo/lists');
			break;
					
		case 'category_promo/add':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('category_promo/lists').":: 新增";
			break;
					
		case 'category_promo/edit':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('category_promo/lists').":: 編輯";
			break;	

			
		case 'category_promo_product/lists':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('category_promo/lists');
			echo "::".getAminMenuFormat('category_promo_product/lists?category_promo_id='.$this->input->get('category_promo_id'));
			break;
	
			
		case 'content/lists':
			echo "::".getAminMenuFormat('content/lists');
			break;
					
		case 'content/add':
			echo "::".getAminMenuFormat('content/lists').":: 新增";
			break;
					
		case 'content/edit':
			echo "::".getAminMenuFormat('content/lists').":: 編輯";
			break;


		case 'contact/lists':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('contact/lists');
			break;
					
		case 'contact/add':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('contact/lists').":: 新增";
			break;
					
		case 'contact/edit':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('contact/lists').":: 編輯";
			break;
			
		case 'contact/view':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('contact/lists').":: 檢視";
			break;

			
		case 'customer/lists':
			echo "::".reSortArrayMutil(2,'customer' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('customer/lists');
			break;
			
		case 'customer/edit':
			echo "::".reSortArrayMutil(2,'customer' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('customer/lists').":: 編輯";
			break;
			
		case 'customer/pass':
			echo "::".reSortArrayMutil(2,'customer' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('customer/lists').":: 密碼";
			break;
			
			
		case 'customer_coupon/lists':
			echo "::".reSortArrayMutil(2,'customer' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('customer_coupon/lists?customer_id='.$this->input->get('customer_id'));
			break;
			
				
		case 'certification/edit':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('certification/edit');
			break;

			
		case 'certification_img/lists':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('certification_img/lists');
			break;
					
		case 'certification_img/add':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('certification_img/lists').":: 新增";
			break;
					
		case 'certification_img/edit':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('certification_img/lists').":: 編輯";
			break;
			
			
		case 'download/lists':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('download/lists');
			break;
					
		case 'download/add':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('download/lists').":: 新增";
			break;
					
		case 'download/edit':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('download/lists').":: 編輯";
			break;			
			
			
		case 'edm/add':
			echo "::".getAminMenuFormat('edm/add');
			break;			

			
			
		case 'fee/lists':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('fee/lists');
			break;
					
		case 'fee/add':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('fee/lists').":: 新增";
			break;
					
		case 'fee/edit':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			//echo "::".getAminMenuFormat('fee/lists').":: 編輯";
			echo "::".reSortArrayMutil(2,'fee' ,getAdminMenu()).":: 編輯";
			break;			
					
		case 'fee_cod/edit':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::運費設定::".getAminMenuFormat('fee_cod/edit');
			break;
			
			
		case 'index/edit':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('index/edit');
			break;			


		case 'meta/lists':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('meta/lists');
			break;
					
		case 'meta/add':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('meta/lists').":: 新增";
			break;
					
		case 'meta/edit':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('meta/lists').":: 編輯";
			break;			
			
			
		case 'news_category/lists':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('news_category/lists');
			break;
					
		case 'news_category/add':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('news_category/lists').":: 新增";
			break;
					
		case 'news_category/edit':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('news_category/lists').":: 編輯";
			break;			
			
			
		case 'news/lists':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('news/lists');
			break;
					
		case 'news/add':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('news/lists').":: 新增";
			break;
					
		case 'news/edit':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('news/lists').":: 編輯";
			break;
			
			
		case 'notice/lists':
			echo "::".getAminMenuFormat('notice/lists');
			break;
					
		case 'notice/add':
			echo "::".getAminMenuFormat('notice/lists').":: 新增";
			break;
			
		case 'notice/edit':
			echo "::".getAminMenuFormat('notice/lists').":: 編輯";
			break;
					
			
		case 'order/lists':
			echo "::".reSortArrayMutil(2,'order' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('order/lists');
			break;
			
		case 'order/view':
			echo "::".reSortArrayMutil(2,'order' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('order/lists').":: 檢視";
			break;
			
			
		case 'order_pre/lists':
			echo "::".getAminMenuFormat('order_pre/lists');
			break;
					
		case 'order_pre/view':
			echo "::".getAminMenuFormat('order_pre/lists').":: 檢視";
			break;

			
		case 'order/order_export_list':
			echo "::".getAminMenuFormat('order/order_export_list').":: 訂單匯出";
			break;
			
		case 'order/order_import_view':
			echo "::".getAminMenuFormat('order/order_import_view').":: 訂單匯入";
			break;		
		
		case 'order/order_return':
			echo "::".getAminMenuFormat('order/lists').":: 訂單退換";
			break;
			

		case 'product_category/lists':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product_category/lists');
			break;
				
		case 'product_category/add':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product_category/lists').":: 新增";
			break;
				
		case 'product_category/edit':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product_category/lists').":: 編輯";
			break;
				
			
		case 'product_category_child/lists':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product_category/lists');
			echo "::".getAminMenuFormat('product_category_child/lists?category_id='.$this->input->get('category_id'));
			break;
				
		case 'product_category_child/add':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			 echo "::".getAminMenuFormat('product_category/lists');
			 echo "::".getAminMenuFormat('product_category_child/lists?category_id='.$this->input->get('category_id')).":: 新增";
			 break;

		case 'product_category_child/edit':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product_category/lists');
			echo "::".getAminMenuFormat('product_category_child/lists?category_id='.$this->input->get('category_id')).":: 編輯";
			break;
			

		case 'product/lists':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product/lists?page=1');
			break;
			
		case 'product/edit':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product/lists?page=1').":: 編輯";
			break;
			
		case 'product/product_add_step1':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product/lists?page=1')."</a>:: 新增商品 Step1";
			break;
			
		case 'product/product_add_step2':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product/lists?page=1')."</a>:: 新增商品 Step2";
			break;
			
		case 'product/product_edit_image':
			echo "::".getAminMenuFormat('product/lists')."</a>"
				.":: <a href=".getAminMenuFormat('product/edit?product_id='.$this->input->get('product_id')).">編輯</a>"
				.":: 屬性圖片編輯";
			break;
			
			
		case 'product_comb/lists':
			echo "::".getAminMenuFormat('product/lists');
			echo "::".getAminMenuFormat('product_comb/lists?product_id='.$this->input->get('product_id'));
			break;
					
		case 'product_comb/edit':
			echo "::".getAminMenuFormat('product/lists?product_id='.$product_id);
			echo "::".getAminMenuFormat('product_comb/lists?product_id='.$product_id).":: 編輯";
			break;
					
		case 'product_comb/add':
			echo "::".getAminMenuFormat('product/lists');
			echo "::".getAminMenuFormat('product_comb/lists?product_id='.$product_id)."</a>:: 新增";
			break;
			

		case 'product_box/lists':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product_box/lists');
			break;
					
		case 'product_box/edit':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product_box/lists').":: 編輯";
			break;
					
		case 'product_box/add':
			echo "::".reSortArrayMutil(2,'product' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('product_box/lists')."</a>:: 新增禮盒";
			break;
			
			
		case 'product/product_import_view':
			echo "::".getAminMenuFormat('product/lists')."</a>";
			break;
			
		/*	
		case 'product_speci/add_img':
			echo ":: <a href=".getAminMenuFormat('product/edit?product_id='.$this->input->get('product_id')).">編輯</a>"
				.":: 屬性圖片編輯";
		    break;
		*/	
			
		case 'product_property/lists':
			echo "::".getAminMenuFormat('product_property/lists');
			break;
				
		case 'product_property/add':
			echo "::".getAminMenuFormat('product_property/lists').":: 新增";
			break;
				
		case 'product_property/edit':
			echo "::".getAminMenuFormat('product_property/lists').":: 編輯";
			break;

			
		case 'product_qa/lists':
			echo "::".getAminMenuFormat('product_qa/lists');
			break;

		case 'product_qa/reply':
			echo "::".getAminMenuFormat('product_qa/lists').":: 回覆";
			break;
				

		case 'promo_coupon/lists':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('promo_coupon/lists');
			break;
			
		case 'promo_coupon/add':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('promo_coupon/lists').":: 新增";
			break;
			
		case 'promo_coupon/edit':
			echo "::".reSortArrayMutil(2,'sale' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('promo_coupon/lists').":: 編輯";
			break;
			
		case 'promo_coupon/feedback_gold_update':
			echo "::".getAminMenuFormat('promo/discount_coupon_lists').":: feedback_gold_update";
			break;
			
			
		case 'promo_vip/edit':
			echo "::".getAminMenuFormat('promo_vip/edit');
			break;

			
		case 'plan/edit':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('plan/edit');
			break;			
			
			
		case 'qa_category/lists':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('qa_category/lists');
			break;
					
		case 'qa_category/add':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('qa_category/lists').":: 新增";
			break;
					
		case 'qa_category/edit':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('qa_category/lists').":: 編輯";
			break;			
			
		/*	
		case 'qa/lists':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('qa/lists');
			break;
			
		case 'qa/add':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('qa/lists').":: 新增";
			break; */
			
		case 'qa/edit':
			echo "::".reSortArrayMutil(2,'webContent' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('qa/lists');
			break;
			
			
		case 'returns/lists':
			echo "::".reSortArrayMutil(2,'order' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('returns/lists');
			break;
				
		case 'returns/view':
			echo "::".reSortArrayMutil(2,'order' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('returns/lists').":: 檢視";
			break;
			
			
		case 'report_product/lists':
			echo "::".reSortArrayMutil(2,'statistics' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('report_product/lists');
			break;
				
		case 'report_order/lists':
			echo "::".reSortArrayMutil(2,'statistics' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('report_order/lists');
			break;
			
		case 'report_customer/lists':
			echo "::".reSortArrayMutil(2,'statistics' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('report_customer/lists');
			break;

			
		case 'knowledge_category/lists':
			echo "::".getAminMenuFormat('knowledge_category/lists');
			break;
					
		case 'knowledge_category/add':
			echo "::".getAminMenuFormat('knowledge_category/lists').":: 新增";
			break;
					
		case 'knowledge_category/edit':
			echo "::".getAminMenuFormat('knowledge_category/lists').":: 編輯";
			break;			
			
			
		case 'knowledge/lists':
			echo "::".getAminMenuFormat('knowledge/lists');
			break;
					
		case 'knowledge/add':
			echo "::".getAminMenuFormat('knowledge/lists').":: 新增";
			break;
					
		case 'knowledge/edit':
			echo "::".getAminMenuFormat('knowledge/lists').":: 編輯";
			break;

			
		case 'space_category/lists':
			echo "::".getAminMenuFormat('space_category/lists');
			break;
					
		case 'space_category/add':
			echo "::".getAminMenuFormat('space_category/lists').":: 新增";
			break;
					
		case 'space_category/edit':
			echo "::".getAminMenuFormat('space_category/lists').":: 編輯";
			break;
					
		case 'space_category_child/lists':
		    echo "::".getAminMenuFormat('space_category/lists');
			echo "::".getAminMenuFormat('space_category_child/lists?category_id='.$this->input->get('category_id'));
			break;
			
		case 'space_category_child/add':
			echo "::".getAminMenuFormat('space_category/lists');
			echo "::".getAminMenuFormat('space_category_child/lists?category_id='.$this->input->get('category_id')).":: 新增";
			break;
			
		case 'space_category_child/edit':
			echo "::".getAminMenuFormat('space_category/lists');
			echo "::".getAminMenuFormat('space_category_child/lists?category_id='.$this->input->get('category_id')).":: 編輯";
			break;			
			
					
		case 'space/lists':
			echo "::".getAminMenuFormat('space/lists');
			break;
					
		case 'space/add':
			echo "::".getAminMenuFormat('space/lists').":: 新增";
			break;
					
		case 'space/edit':
			echo "::".getAminMenuFormat('space/lists').":: 編輯";
			break;			
			
			
		case 'story/lists':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('story/lists');
			break;
					
		case 'story/add':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('story/lists').":: 新增";
			break;
					
		case 'story/edit':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('story/lists').":: 編輯";
			break;
			
			
		case 'story_img/lists':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('story_img/lists');
			break;
					
		case 'story_img/add':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('story_img/lists').":: 新增";
			break;
					
		case 'story_img/edit':
			echo "::".reSortArrayMutil(2,'about' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('story_img/lists').":: 編輯";
			break;			
							
			
		case 'system/main':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('system/main');
			break;
		
			
		case 'tool_elfinder/index':
			echo "::".reSortArrayMutil(2,'system' ,getAdminMenuTop());
			echo "::".getAminMenuFormat('tool_elfinder/index');
			break;
					
			/*
			 case 'sku_group_list':
			 echo "::".getAminMenuFormat('product_qa/lists')."</a>";
			 break;
			
			 case 'sku_group_insert':
			 echo ":: <a href=".getAdminURL('product/sku_group_list').">".reSortArrayMutil(2,'product' ,getAdminMenu())."</a>:: 新增";
			 break;
			
			 case 'sku_group_update':
			 echo ":: <a href=".getAdminURL('product/sku_group_list').">".reSortArrayMutil(2,'product' ,getAdminMenu())."</a>:: 編輯";
			 break;
			
			 case 'sku_group_view':
			 echo ":: <a href=".getAdminURL('product/sku_group_list').">".reSortArrayMutil(2,'product' ,getAdminMenu())."</a>:: 檢視產品";
			 break;
			 */
						
	} ?>
</div>
