<div id="dio_login_msg" style="background-color: #e4e4e4;">
	<span> 歡迎來 <a href="#"><?php echo $_SESSION['vendor_info']['name']?> </a>
		| <a href="#">站內訊息</a> | <a
		href="<?php echo DIO_BASE_URL ?>/logout/main">登出</a> </span>
</div>

<?php if( is_edate_valid($_SESSION['vendor_info']['edate']) ) { ?>
<h3 style="color: red">* 糟糕! 您的合約已到期，商品將不會在商城顯示，請儘快洽相關人員辦理續約，謝謝您。</h3>
<?php } ?>