<body>
	<div id="container">

	<?php $this->load->view('backend/common/nav.tpl')?>
	<div id="title"><h2><?php echo reSortArrayMutil(2,'barcode' ,getAdminMenu())?></h2></div>

		<div id="content">
		<?php $this->load->view('backend/common/breadcrumb.tpl')?>

			<!-- 內容主體分兩部分:(一)搜尋主體 (二)列表主體 -->
			<div class="container">

				<div class="container">
					<iframe src="<?php echo getAdminURL('barcode/iframe')?>"
						width="100%" height="550px" frameborder="0"></iframe>
				</div>
			</div>


		</div>

	</div>

</body>
</html>
