body {
	background: #364150;
	font-size: 14px;
}

a {
	color: #1e91cf;
}

table,td,th {
	border: 1px solid #ccc;
}

td,th {
	padding: 10px;
}

th,tr:hover,thead {
	background: #f6f6f6;
}

tr {
	background: #fff;
}

tr:hover {
	background: #f6f6f6;
}

table {
	width: 100%;
}

input[type=text],input[type=password],input[type=search],select {
	background: #fafafa;
	color: #8290a3;
	border: 1px solid #dde3ec;
	font-weight: normal;
	padding: 6px;
	width: 250px;
	transition: all .5s;
	box-sizing: border-box;
}

input[type=submit],button {
	color: #fff;
	background: #45B6AF;
	border: none;
	padding: 10px 20px;
	font-weight: 600;
	margin: 0 10px 0 0;
}

input[type=button] {
	color: #c3cedd;
	background: #6c7a8d;
	border: none;
	padding: 10px 20px;
	font-weight: 600;
	margin: 0 10px 0 0;
}
input{
	margin-right: 5px;
	margin-left: 0px;
}
input:focus {
	border: 1px solid #999;
	outline: none;
}

/* Header */
#header {
	color: #BCC2CB;
	background: #111;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
}

#header a {
	color: #BCC2CB;
}

#header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header .logo {
	float: left;
	margin: 11px 20px 0;
}

#header .logo a {
	display: block;
	background: url(../images/logo.png) no-repeat;
	width: 100px;
	text-indent: -9999px;
}

.welcome {
	float: right;
	font-size: 12px;
	padding: 20px 20px 0;
}

/* Navigation */
#nav {
	float: left;
}

#nav>li {
	float: left;
	position: relative;
}

#nav>li>a {
	display: block;
	padding: 16px 18px 15px 18px;
}

#nav>li>a>i {
	margin: 0 0 0 5px;
}

#nav>li>ul {
	display: none;
	position: absolute;
	padding: 15px;
	background: #55616f;
	width: 150px;
	z-index: 999;
}

#nav>li>ul>li>a {
	font-size: 14px;
	display: block;
	padding: 7px 10px;
	white-space: nowrap;
	transition: all .3s;
}

#nav>li>ul>li>a>i {
	color: #6fa7d7;
	margin: 0 10px 0 0;
}

#nav>li>ul>li>a:hover {
	background: #5e6b79;
	padding-left: 15px;
}

#nav>li:hover>a {
	background: #55616f;
	color: #fff;
}

#nav>li:hover>ul {
	display: block;
}

/* Title */
#title {
	background: #fff;
	color: #697882;
	padding: 15px;
	margin: 45px 0 0;
}

#title h2 {
	margin: 0;
}

/* Content */
#content {
	background: #eceef1;
	padding: 20px;
}

.breadcrumb {
	font-size: 12px;
	padding: 0 0 20px;
}

.note {
	background: #f3e2e2;
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #dfaeb7;
}

.container {
	background: #fff;
	padding: 20px;
	border-radius: 5px;
}

.filter {
	display: none;
	margin: 0 0 20px;
}

.editform .fullwidth {
	width: 100%;
}

.editform .buttons {
	text-align: center;
	padding: 10px;
}

.category select {
	width: 30%;
	height: 300px;
	margin: 1%;
}

.step {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.step li {
	float: left;
	width: 33.3%;
	background: #f6f6f6;
	text-align: center;
	padding: 10px;
	border: 1px solid #fff;
	box-sizing: border-box;
}

.step .now {
	background: #45B6AF;
	color: #fff;
}

/* Events */
.events .item {
	color: #fff;
	float: left;
	font-size: 12px;
	width: 18.4%;
	margin: 0 0 20px 2%;
	display: block;
	padding: 20px;
	text-align: right;
	overflow: hidden;
	height: 90px;
	box-sizing: border-box;
	border-radius: 5px;
	transition: all .3s;
}

.events .item:hover {
	border: 5px solid #fff;
}

.events i {
	float: left;
	opacity: .3;
	font-size: 90px;
	margin: -20px 0 0 -35px;
}

.events span {
	display: block;
}

.events .number {
	font-size: 36px;
}

.events .info {
	opacity: .8;
}

.events .profile {
	background: #fff;
	color: #666;
	margin-left: 0;
	height: 200px;
	text-align: center;
	position: relative;
}

.events .profile:hover {
	border: 5px solid #45B6AF;
}

.events .profile i {
	display: block;
	float: none;
	margin: 0 auto;
}

.events .profile span {
	margin: 5px 0 0;
}

.events .profile .name {
	position: absolute;
	top: 68px;
	left: 0;
	background: rgba(69, 182, 175, 0.8);
	padding: 5px;
	color: #fff;
	width: 100%;
	box-sizing: border-box;
}

.events .blue {
	background: #578ebe;
}

.events .red {
	background: #e35b5a;
}

.events .yellow {
	background: #FFB848;
}

.events .green {
	background: #44b6ae;
}

.events .purple {
	background: #8775a7;
}

/* Buttons */
.buttons {
	margin: 0 0 20px;
	text-align: right;
}

.buttons a {
	display: inline-block;
	color: #fff;
	background: #45B6AF;
	border: none;
	padding: 10px 15px;
	margin: 0 0 0 2px;
	border-radius: 5px;
}

.btn i {
	font-size: .8em;
	opacity: .7;
}

/* Footer */
#footer {
	margin: 0 0 30px;
	padding: 10px;
	color: #7a8ca5;
	font-size: 13px;
}

/* Login */
#login .logo {
	margin-top: 60px;
	padding: 15px;
	text-align: center;
}

#login .content {
	color: #8290a3;
	background: #eceef1;
	width: 400px;
	margin: 40px auto 10px;
	overflow: hidden;
	position: relative;
}

#login .form-group {
	margin: 0 0 15px;
}

#login h3 {
	color: #4db3a5;
	text-align: center;
	font-size: 28px;
	font-weight: 400;
}

#login b {
	color: #f00;
}

#login form {
	padding: 10px 30px;
}

#login input[type=text],#login input[type=password] {
	background: #dde3ec;
	height: 43px;
	color: #8290a3;
	border: 1px solid #dde3ec;
	font-size: 14px;
	font-weight: normal;
	display: block;
	width: 100%;
	padding: 6px 12px;
	line-height: 1.42857143;
	transition: all .5s;
	box-sizing: border-box;
}

#login input[type=submit] {
	color: #fff;
	background: #45B6AF;
	border: none;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 600;
	margin: 0 10px 0 0;
}

#login input[type=button] {
	color: #c3cedd;
	background: #6c7a8d;
	border: none;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 600;
	margin: 0 10px 0 0;
	float: right;
}

#login .go-signup {
	padding: 15px;
	text-align: center;
	background: #6c7a8d;
}

#login .go-signup a {
	color: #c3cedd;
}

#login .signup {
	display: none;
}

#login .copyright {
	text-align: center;
	margin: 0 0 30px;
	padding: 10px;
	color: #7a8ca5;
	font-size: 13px;
}

/* Other */
.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.small {
	font-size: 12px;
}

.hide {
	display: none;
}