/**
 *  由大熊維護的css，以'dio_' 當前綴避免混淆其他css設定
 * 
 */
#dio_login_msg {
	padding: 10px;
	text-align: right;
}

.dio_red{
	color:red;
}

.dio_href{
	color: blue; 
	text-decoration:underline
}


/**
 *  定義jQuery UI的樣式 ，須配合dataTables.bootstrap.css使用
 * 
 */
.ui-dialog-title{
    color: #FFFFFF !important;
}

.ui-dialog-titlebar{
	background: #111 !important;
}

/**
 *  定義dataTables的樣式 ，須配合dataTables.bootstrap.css使用
 * 
 */
.dio_datatable {
	margin-bottom: 20px;
}

.dio_datatable thead {
	text-align: center;
}

#DataTables_Table_0_previous,#DataTables_Table_0_next {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	background-color: #f6f6f6;
	line-height: 20px;
	border: 1px solid #ccc;
}

#DataTables_Table_0_previous {
	border-radius: 5px 0 0 5px;
}

#DataTables_Table_0_next {
	border-radius: 0 5px 5px 0;
}

.paginate_button {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	background-color: #f6f6f6;
	line-height: 20px;
	color: #000;
	padding: 0 10px;
}

.dataTables_length {
	float: left;
}

.dataTables_filter {
	float: right;
	margin: 5px;
}

.dataTables_info {
	float: left;
}

.dataTables_paginate {
	float: right;
}

/**
 *  分頁樣式
 * 
 */
.current {
	font-size: 16px;
	font-family: fantasy;
}

/**
 *  定義功能鍵按鈕樣式
 * 
 */
.myButton {
	background-color: #7892c2;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	padding: 6px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;
}

.myButton:hover {
	background-color: #476e9e;
}

.myButton:active {
	position: relative;
	top: 1px;
}

input[readonly] {
	background-color: rgb(228, 228, 225);
}

td {
	text-align: center;
}
