/*Base*/
html,body {
	margin: 0px;
	height: 100%;
}

a {
	text-decoration: none;
}

.line {
	border-bottom: 1px solid #066;
}
/*Layout*/
#wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

#banner {
	width: 100%;
	height: 400px;
	clear: both;
	background-color: #E6E6E6;
	overflow: hidden;
	position: relative;
}

#main {
	position: relative;
	width: 960px;
	margin: 0 auto;
	margin-top: 43px;
}

#main02 {
	width: 960px;
	margin: 0 auto;
	position: relative;
	margin-top: 30px;
}

#main03 {
	width: 960px;
	margin: 0 auto;
	clear: both;
}

#page_wrap {
	width: 960px;
	margin: 0 auto;
	height: 900px;
}

#page01 {
	float: left;
	width: 200px;
}

#page02,#page03,#page04,.page04 {
	float: right;
	width: 751px;
}

.page04,.page04_ad04 {
	clear: both;
	margin-top: 10px;
}

#page03 {
	margin-top: 12px;
}

#page04 {
	margin-bottom: 10px;
}

#page05 {
	width: 960px;
	margin: 0 auto;
}

/*Module*/

/*State*/
.banner_ul {
	position: absolute;
	width: 400%;
	height: 400px;
}

.banner_ul .banner_li {
	display: block;
	height: 400px;
	width: 25%;
	float: left;
}

.banner_ul .banner_li>div {
	display: block;
	height: 400px;
	width: 960px;
	margin: 0 auto;
}

.banner_li_ul {
	float: right;
	height: 332px;
	width: 223px;
	border: 1px solid #BCEBEB;
	background-color: #FFF;
	margin-top: 35px;
}

.banner_li_ul li {
	border-bottom: 1px solid #BCEBEB;
	margin: 10px;
}

.banner_li_ul a {
	float: right;
	font-size: 21px;
	color: #000;
	display: block;
	width: 125px;
	margin-top: 16px;
	margin-right: 5px;
	font-weight: bold;
}

.banner_li_ul span {
	float: left;
	clear: both;
	color: #FFA500;
	font-size: 10px;
}

.banner_li_ul li img {
	vertical-align: bottom;
}

.header_banner_ul02 {
	position: absolute;
	top: 502px;
	width: 400px;
	z-index: 99;
	margin-left: 21px;
}

.header_banner_ul02 li {
	bottom: 20px;
	display: block;
	width: 17px;
	float: left;
	height: 17px;
	background-image: url(../images/icon/tag_trab.png);
	margin: 4px;
}

.header_banner_ul02 li:hover {
	background-position: center 16px;
}

#outertag {
	height: 268px;
	position: absolute;
	width: 65px;
	background-image: url(../images/icon/outer_icon01.png);
	right: 20px;
	z-index: 1000;
	right: -111px;
	padding-top: 88px;
	top: 205px;
	background-repeat: no-repeat;
}

#outertag p,#outertag a {
	text-align: center;
	display: block;
	margin-top: 29px;
}

#outertag>p {
	margin-top: 6px;
}

#outertag span {
	color: #EAA129;
	font-size: 18px;
}

.head--logo {
	float: left;
	width: 235px;
	height: 86px;
}

.head--info {
	float: right;
	width: 412px;
	height: 54px;
	margin-top: 35px;
}

.head--info ul li {
	list-style-type: none;
}

.head--info ul li:nth-child(3) {
	width: 132px;
}

.head--info ul li a {
	text-decoration: none;
	color: #666;
}

.head--info--shop {
	
}

.head--info--shop li {
	float: left;
	width: 50px;
	text-align: center;
	font-weight: bolder;
}

.head--info--shop li:last-child {
	width: 29px;
	text-align: right;
}

.head--info--search {
	height: 26px;
	border: 1px solid #FDBB47;
	border-radius: 3px;
	width: 190px;
	margin-top: 5px;
	float: right;
}

.head--info--search input[type="text"] {
	margin: 2px;
	border: 1px solid #fff;
	width: 144px;
}

.head--info--search input[type="submit"] {
	margin: 3px;
	border: 1px solid #fff;
	background-image: url(../images/icon/t_big.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	text-indent: -5000px;
	overflow: hidden;
	width: 21px;
	height: 20px;
	float: right;
	margin-right: 3px;
	border-left: 1px solid #F4B334;
	padding-left: 21px;
}

.head--info--shop li:nth-child(1) {
	background-image: url(../images/icon/cart.png);
	background-repeat: no-repeat;
	text-indent: 10px;
	width: 100px;
}

.head--info--shop li:nth-child(2) {
	background-image: url(../images/icon/star.png);
	background-repeat: no-repeat;
	text-indent: 10px;
	width: 100px;
}

.head--info--shop li:nth-child(2) a,.head--info--shop li:nth-child(1) a
	{
	color: #006A60;
}

.header--mainnav__markup,.header--mainnav--health,.header--mainnav--food,.header--mainnav--trip,.header--mainnav--bady,.header--mainnav--3c,.header--mainnav--homematchine,.header--mainnav--clothes,.header--mainnav--innercloth,.header--mainnav--fashion,.header--mainnav--jewelry,.header--mainnav--life,.header--mainnav--bedroom,.header--mainnav--art,.header--mainnav--sport
	{
	display: none;
}

.header--mainnav {
	clear: both;
}

.header--mainnav ul {
	width: 960px;
	margin: 0 auto; //
	height: 100px;
}

.header--mainnav ul li {
	float: left;
	list-style-type: none;
	line-height: 22px;
	border-radius: 11px;
}

.header--mainnav ul li a {
	color: #F08421;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 0 12px;
	border-radius: 11px;
	line-height: 27px;
}

.header--mainnav ul li a:hover {
	color: #066 !important;
	background-color: #EAEEEE !important;
	font-weight: normal;
	border-radius: 0px;
}

.page01--title {
	font-size: 20px;
	padding: 10px 0;
	color: #666;
}

.page01--title img {
	margin-right: 5px;
}

.page01--navi p {
	background-color: #027D7E;
	color: #FFF;
	line-height: 25px;
	height: 25px;
	font-size: 18px;
	text-indent: 10px;
}

.page01--navi ul {
	margin-top: 2px;
}

.page01--navi ul li {
	width: 200px;
	height: 32px;
}

.page01--navi ul li a {
	display: block;
	color: #000;
	font-family: "新細明體", "微軟正黑體";
	background-color: #f4f4f4;
	line-height: 32px;
	height: 32px;
	font-size: 13px;
	text-indent: 10px;
}

.page01--navi ul li a:hover {
	background-color: #b8b8b8;
	color: #fff;
}

.page01--navi ul li+li {
	margin-top: 2px;
}

.page01--navi--2ul {
	background-color: #f4f4f4;
}

.page01--navi--2ul li a {
	display: block;
	width: 50%;
	float: left;
}

.page01--navi--2ul--more a {
	display: inline;
	text-align: right;
	width: 91% !important;
	/* margin-right: 20px; */
	/* padding-right: 10px; */
}

.page01--navi--2ul--more a:hover {
	background-color: #f4f4f4 !important;
	color: #f00 !important;
}

.page01--navi p {
	clear: both;
}

.page02--title {
	margin: 10px 0 12px 0;
}

.page02--title a {
	font-size: 15px;
	/* margin: 26px 0; */
	color: #666;
	font-family: "新細明體";
}

.page02--ultile ul {
	width: 750px;
	height: 33px;
}

.page02--ultile li a {
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	color: #666;
	height: 30px;
	line-height: 30px;
	background-color: #e6e6e6;
}

.page02--ultile li a:hover {
	background-color: #066;
	color: #FFF;
}

.page03--wrp_l {
	width: 580px;
	float: left;
	overflow: hidden;
}

.page03--wrp_l--in {
	width: 35000px;
}

.page03--wrp_l--in ul {
	width: 570px;
	float: left;
	border: 1px solid #b8b8b8;
	margin-right: 10px;
	margin-bottom: 17px;
}

.page03--wrp_l--in ul li {
	width: 170px;
	float: left;
	padding: 6px;
	border: 1px solid #b8b8b8;
	margin: 3px;
}

.page03--wrp_l--in ul li a {
	color: #000;
}

.page03--wrp_l--in ul li a:hover {
	color: #066;
}

.page03--wrp_l--in ul li a span {
	display: block;
	text-align: center;
	height: 42px;
}

.page03--wrp_l--in ul li a span:first-child {
	color: #999;
}

.page03--wrp_l--in ul li a span:last-child {
	color: #FF0025;
	height: 22px;
}

.page03--wrp_l p ul {
	list-style-type: none
}

.page03--wrp_l p ul li a {
	float: left;
	width: 450px;
}

.page03--img_l {
	width: 560px;
	float: left;
	margin-top: 10px;
}

.page03--img_l p {
	height: 34px;
	background-image: url(../images/icon/i2.png);
	background-repeat: no-repeat;
	background-position: 2px;
	clear: both;
	line-height: 34px;
	text-indent: 26px;
	border: 1px solid #b8b8b8;
	margin: 6px 0;
}

.page03--img_l p span {
	display: block;
	float: left;
	text-align: center;
	width: 185px;
}

.page03--img_l p span a {
	color: #066;
	font-size: 16px;
}

.page03--img_l--ul {
	width: 560px;
}

.page03--img_l--ul li {
	float: left;
	margin-bottom: 6px;
}

.page03--img_l--ul li a {
	display: block;
	width: 108px;
	font-family: "新細明體";
	color: #000;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #DAD9D9;
	text-align: center;
	background-image: url(../images/icon/bg.jpg);
}

.page03--img_l--ul li a:hover {
	color: #fff;
	background-image: none;
	background-color: #666;
}

.page03--img_l--ul li+li {
	margin-left: 2px;
}

.page03--img_l--img01,.page03--img_l--img02,.page03--img_l--img03,.page03--img_l--img04,.page03--img_l--img05
	{
	display: none;
}

.page03--img_r {
	width: 185px;
	float: right;
	border: 1px solid #b8b8b8;
	margin-top: 10px;
	height: 286px;
	background: linear-gradient(top, #fff, #E3E3E3);
	background: -moz-linear-gradient(top, #fff, #E3E3E3);
	background: -webkit-linear-gradient(top, #fff, #E3E3E3);
}

.page03--img_r p {
	background-color: #066;
	height: 24px;
	line-height: 24px;
	background-image: url(../images/icon/arrow.png);
	background-repeat: no-repeat;
	background-position: 6px 4px;
	text-indent: 30px;
	color: #FFF;
	font-size: 12px;
}

.page03--img_r p span {
	display: block;
	text-align: center;
	text-indent: 0px;
}

.page03--img_r p img {
	margin-left: 17px;
	margin-top: 8px;
}

.page03--img_r a span:nth-child(1) {
	font-family: "新細明體";
	font-size: 13px;
	color: #000;
}

.page03--img_r a span:nth-child(2) {
	font-family: "新細明體";
	font-size: 13px;
	color: #f00;
	line-height: 15px;
}

.page03--img_r a span:nth-child(3) {
	font-size: 23px;
	color: #C40A0A;
	font-weight: bold;
	margin-top: 7px;
}

.page03--img_r a span b {
	font-family: "新細明體";
	color: #000;
	font-size: 13px;
	font-weight: normal;
}

.page03--bottom ul {
	width: 580px;
}

.page03--bottom ul li a {
	display: block;
	width: 191px;
	float: left;
	text-align: center;
	height: 30px;
	line-height: 30px;
	background-color: #b8b8b8;
}

.page03--bottom ul li a:hover {
	color: #FFF;
	background-color: #088;
}

.page03--wrp_r {
	float: right;
	width: 170px;
	text-align: center;
}

.page03--wrp_r p {
	background-color: #066;
	color: #EFEDED;
	text-align: center;
	line-height: 26px;
	height: 26px;
}

.page03--wrp--sideleft {
	height: 519px;
	width: 150px;
	padding: 9px;
	border: 1px solid #b8b8b8;
}

.page03--wrp--sideleft li {
	margin-bottom: 20px;
}

.page03--wrp--sideleft li a span {
	display: block;
	text-align: center;
}

.page03--wrp--sideleft li a span:first-child {
	margin-top: 10px;
	color: #999;
}

.page03--wrp--sideleft li a span:last-child {
	margin-bottom: 30px;
	margin-top: 7px;
	color: #FF002C;
}

.page03--ad {
	clear: both;
}

.page03--ad ul li {
	float: left;
	border: 1px solid #b8b8b8;
}

.page03--ad ul li+li {
	margin-left: 5px;
}

.page03--ad2_l {
	float: left;
}

.page03--ad2_l {
	width: 560px;
}

.page03--pro_l {
	float: left;
	width: 330px;
}

.page03--pro_r {
	float: right;
	width: 420px;
	font-family: "新細明體 ";
	font-size: 13px;
	margin-bottom: 10px;
}

.page03--discount_info {
	padding-left: 10px;
	border: 1px solid #D3CFCF;
	width: 728px;
	clear: both;
	padding-right: 10px;
}

.page03--discount_info p {
	line-height: 20px;
}

.page03--discount_info p:first-child {
	line-height: 30px;
	color: #c03;
	text-indent: 10px;
	font-family: "新細明體";
	font-size: 13px;
}

.page03--discount_info p span:first-child {
	float: left;
	text-align: center;
	width: 120px;
	background-color: #066;
	color: #FFF;
}

.page03--discount_info p span:last-child {
	width: 576px;
	display: inline-block;
	margin-left: 21px;
	margin-bottom: 10px;
}

.select_wrap {
	float: left;
	width: 560px
}

.select_wrap ul {
	border: 1px solid #D3CFCF;
	float: left;
}

.page03--pro_r--maintext>p:first-child {
	font-family: "新細明體";
	font-size: 16px;
	color: #F00;
	margin: 7px 0;
}

.page03--pro_r--maintext>p:nth-child(2) {
	font-family: "新細明體";
	font-size: 16px;
	color: #066;
}

.page03--pro_r--maintext--info {
	width: 200px;
	float: left;
	margin-left: 20px;
	height: 94px;
	margin-top: 9px;
}

.page03--pro_r--maintext--info li {
	list-style-type: square !important;
	line-height: 25px;
	font-family: "新細明體";
	font-size: 15px;
}

.page03--pro_r--maintext--info2 {
	width: 120px;
	float: right;
	text-align: center;
}

.page03--pro_r--maintext--price {
	clear: both;
	height: 55px;
	width: 420px;
	border-top: 1px solid #999;
	line-height: 55px;
	color: #999;
}

.page03--pro_r--maintext--price li {
	font-size: 15px;
}

.page03--pro_r--maintext--price li:first-child {
	float: left;
	margin-left: 10px;
	color: #666;
}

.page03--pro_r--maintext--price li:last-child {
	float: right;
	font-weight: bold;
	font-size: 15px;
}

.page03--pro_r--maintext--price li:last-child span {
	color: #CC0033;
	font-weight: bold;
	font-size: 33px;
	font-family: "微軟正黑體";
}

.page03--pro_r--maintext form {
	clear: both;
	border-top: 1px solid #999;
}

.page03--pro_r--maintext form>ul li {
	line-height: 30px;
	clear: both;
}

.page03--pro_r--maintext form>ul li span {
	display: inline-block;
	width: 80px;
}

.page03--pro_r--maintext--info3 {
	clear: both;
}

.page03--pro_r--maintext--info3 input+input {
	float: left;
	margin-left: 1px;
}

.page03--pro_r--maintext--info3 input {
	width: 139px;
	height: 36px;
	background-color: #ccc;
	border: none;
	line-height: 36px;
	color: #333;
	display: block;
	float: left;
}

.page03--pro_r--maintext--info3 input:hover {
	background-color: #066;
	color: #fff;
}

.page04_prolist {
	border-bottom: 3px solid #F60;
	margin-top: 10px;
}

.page04_prolist li {
	display: inline-block;
	width: 132px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: #ccc;
	color: #333;
	cursor: pointer;
}

.page04_prolist li:hover {
	background-color: #666;
	color: #FFF;
}

.page04_prolist .tag {
	background-color: #f60 !important;
	color: #FFF;
}

.page04_pro_coninfo,.page04_pro_change,.page04_pro_other {
	display: none;
	line-height: 40px;
}

.page04 p:first-child {
	line-height: 24px;
	height: 24px;
	background-color: #066;
	color: #FFF;
	/* text-align: center; */
	margin-bottom: 9px;
	text-indent: 14px;
}

.page04--list_l {
	width: 170px;
	height: 250px;
	float: left;
	border: 1px solid #D3CFCF;
	padding: 8px 9px 0;
}
/*
.page04--list_l a{
	font-family: "新細明體";
	font-size: "12px" !important;
}
*/
.page04--list_l span {
	margin-top: 10px;
	display: block;
	color: #333;
	font-family: "新細明體";
	font-size: 12px;
}

.page04--list_l span:last-child {
	color: #F00;
	font-family: "微軟正黑體";
}

.page04--list_r {
	width: 557px;
	float: right;
}

.page04--list_r li {
	margin: 2px;
	width: 258px;
	height: 111px;
	border: 1px solid #CCC;
	float: left;
	padding: 7px;
}

.page04--list_r li a {
	width: 135px;
	display: block;
	height: 100px;
	float: right;
}

.page04--list_r li a span {
	display: block;
}

.page04--list_r li a span:first-child {
	color: #333;
	font-family: "新細明體";
	font-size: 12px;
	color: #333;
	margin: 15px 0;
}

.page04--list_r li a span:last-child {
	color: #F00;
}

.page04_ad04--list_l {
	float: left;
	width: 566px;
}

.page04_ad04--list_r {
	float: right;
	width: 180px;
}

.page04_ad04--list_r>p {
	background-color: #066;
	height: 32px;
	line-height: 32px;
	color: #fff;
	text-indent: 10px;
}

.page04_ad04--list_r ul li {
	position: relative;
	text-align: center;
	clear: both;
}

.page04_ad04--list_r ul li:first-child {
	padding-top: 4px;
	border: 4px solid #F7DD0F;
}

.page04_ad04--list_r ul li span {
	display: block;
	font-family: "新細明體";
	font-size: 13px;
	color: #5E5D5D;
}

.page04_ad04--list_r ul .top_side span {
	margin: 5px 0;
	display: block;
	font-family: "新細明體";
	font-size: 13px;
	color: #5E5D5D;
	text-align: center;
}

.page04_ad04--list_r ul .top_side span:first-child {
	color: #F00;
	height: 21px;
}

.page04_ad04--list_r ul .top_side span:last-child {
	font-size: 20px;
	color: #F00;
	font-family: "微軟正黑體";
	font-weight: bold;
}

.page04_ad04--list_r ul .top_side span:last-child b {
	font-size: 12px;
	color: #F00;
	font-family: "微軟正黑體";
}

.page04_ad04--list_r ul .top_side img:first-child {
	left: -2px;
	top: -2px;
}

.page04_ad04--list_r ul .top_side a {
	float: none;
}

.page04_ad04--list_r ul li span {
	display: block;
	font-family: "新細明體";
	font-size: 12px;
	color: #5E5D5D;
}

.page04_ad04--list_r ul li img:first-child {
	position: absolute;
	left: 0;
}

.page04_ad04--list_r .thoer_side {
	padding-top: 19px;
}

.page04_ad04--list_r ul .thoer_side img:nth-child(2) {
	float: left;
}

.page04_ad04--list_r ul .thoer_side img:nth-child(2) {
	margin: 8px;
}

.page04_ad04--list_r ul li a {
	margin-top: 12px;
	width: 77px;
	float: right;
	text-align: left;
}

.page04_ad04--list_r ul li a span {
	display: block;
}

.page04_ad04--list_r ul li a span:first-child {
	height: 50px;
}

.page04_ad04--list_r ul li a span:last-child {
	font-size: 13px;
	color: #F00;
	font-family: "微軟正黑體";
	margin-top: 10px;
}

#footer ul {
	margin-top: 20px;
	width: 960px;
	border-bottom: 1px solid #333;
	height: 65px;
}

#footer ul li {
	width: 316px;
	float: left;
	line-height: 25px;
	color: #f00;
}

#footer ul li:nth-child(3) {
	width: 210px;
	margin-left: 117px;
}

#footer ul li:nth-child(4) {
	width: 377px;
}

#footer ul li a { /* border-left: 1px solid #333; */
	/* border-right: 1px solid #333; */
	padding-right: 4px;
	padding-left: 4px;
	height: 14px;
	display: inline-block;
	line-height: 14px;
	color: #333;
}

#footer ul li a:hover {
	color: #066;
	font-weight: bold;
}

#footer ul li a+a {
	border-left: 2px solid #717070;
}

"
#footer p {
	clear: both;
	padding-bottom: 14px;
	padding-top: 14px;
	text-align: center;
	border-bottom: 10px solid #666;
	margin-bottom: 10px;
}
/*Navi*/
.header--mainnav__temp {
	position: absolute; //
	height: 180px;
	background-color: #FFF;
	z-index: 999;
}

.header--mainnav__tag__temp {
	width: 123px;
	float: left; //
	height: 203px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-right: none;
	background-color: #FFF;
}

.header--mainnav__tag__temp span {
	display: block;
	width: 111px;
	background-color: #066;
	color: #FFF;
	padding-left: 12px;
}

.header--mainnav__tag__temp ul li a {
	color: #666;
}

.header--mainnav__tag__temp ul li a:hover {
	color: #066;
	font-weight: bold;
}

.header--mainnav__tag__temp ul {
	width: 123px;
	float: left;
}

.header--mainnav__tag__temp ul li {
	float: none;
}

.header--mainnav__tag__temp ul li a:hover {
	background: none;
}

.header--mainnav__temp:hover {
	dispaly: block !important;
}

.header--mainnav--life {
	margin-left: -401px;
}

.header--mainnav--art {
	margin-left: -65px;
}

.header--mainnav--sport {
	margin-left: -399px;
}
/*Theme*/
.topsale {
	width: 750px;
}

.topsale li {
	width: 244px;
	float: left;
	border: 1px solid #b8b8b8;
	text-align: center;
	height: 308px;
	margin-bottom: 18px;
}

.topsale li span {
	display: block;
	text-align: left;
	width: 170px;
	margin: 0 auto;
}

.topsale li a span:first-child {
	font-family: "新細明體";
	font-size: 13px;
	height: 40px;
	color: #333;
	margin-top: 10px;
}

.topsale li a span:last-child {
	font-size: 13px;
	height: 50px;
	color: #F00;
}

.topsale li p {
	background-color: #FF0003;
	width: 109px;
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	color: #FFF;
	margin-bottom: 11px;
}

.topsale li+li {
	margin-left: 6px;
}

.topsale li a {
	width: 245px;
	float: left;
}

.topsale li a:hover {
	width: 245px;
	float: left;
}

.topsale_inner {
	width: 750px;
	margin-top: 10px;
}

.topsale_inner li {
	width: 244px;
	float: left;
	border: 1px solid #b8b8b8;
	text-align: center;
	height: 308px;
	margin-bottom: 18px;
}

.topsale_inner li span {
	display: block;
	text-align: left;
	width: 170px;
	margin: 0 auto;
}

.topsale_inner li a span:first-child {
	font-family: "新細明體";
	font-size: 13px;
	height: 40px;
	color: #333;
	margin-top: 10px;
}

.topsale_inner li a span:last-child {
	font-size: 13px;
	height: 50px;
	color: #F00;
}

.topsale_inner li p {
	background-color: #454040;
	/* width: 109px; */
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	color: #FFF;
	margin-bottom: 11px;
	text-align: left;
	text-indent: 15px;
}

.topsale_inner li+li {
	margin-left: 6px;
}

.topsale_inner li a {
	width: 245px;
	float: left;
}

.topsale_inner li a:hover {
	width: 245px;
	float: left;
}

.num {
	color: #666;
	margin: 18px 0;
	text-align: right;
	height: 20px;
	line-height: 20px;
	clear: both;
}

.num b {
	font-weight: normal;
	color: #3F3FEA;
	margin: 0 3px;
}

.num a {
	text-align: center;
	display: inline-block;
	width: 22px;
	height: 19px;
	font-weight: normal;
	background-image: url(../images/icon/ar_bg2.png);
}

.num a:hover {
	background-image: url(../images/icon/ar_bg.png);
}

.num .next {
	cursor: pointer;
	display: inline-block;
	width: 62px;
	text-align: center;
	height: 20px;
	background-color: #066;
	line-height: 20px;
	color: #FFF;
	border: 1px solid #D5D2D2;
}

.num .next:hover {
	background-color: #333;
	line-height: 20px;
	color: #FFF;
	border: 1px solid #D5D2D2;
}

.main_list_ul {
	
}

.main_list_ul li {
	width: 169px;
	float: left;
	padding: 18px 6px 19px;
	border: 1px solid #b8b8b8;
	text-align: center;
	margin: 2px;
}

.main_list_ul li a span {
	display: block;
	width: 150px;
	/*text-align: left;*/
	margin-left: 10px;
}

.main_list_ul li a span:first-child {
	margin-top: 10px;
	font-family: "新細明體";
	font-size: 13px;
	color: #666;
	height: 50px
}

.main_list_ul li a span:last-child {
	font-size: 13px;
	color: #F00;
}

.silde_title_wrp {
	width: 750px;
	border: 1px solid #999;
	height: 151px;
	position: relative;
	margin-top: 24px;
}

.silde_title_wrp .silde_title {
	position: relative;
	width: 655px;
	overflow: hidden;
	height: 105px;
	margin-left: 42px;
	margin-top: 23px;
}

.silde_title_wrp .silde_title ul {
	position: absolute;
	width: 1400px;
	height: 105px;
}

.silde_title_wrp .silde_title ul li {
	float: left;
	width: 219px;
	height: 105px;
	margin: 0;
	padding: 0;
}

.silde_title_wrp .silde_title ul li a {
	display: block;
	float: right;
	width: 100px;
	height: 140px;
}

.silde_title_wrp .silde_title ul li a span {
	display: block;
	font-size: 13px;
	font-family: "新細明體";
	color: #666;
	height: 50px;
}

.silde_title_wrp .silde_title ul li a span:first-child {
	margin-top: 10px;
	height: 68px;
}

.silde_title_wrp .silde_title ul li a span:last-child {
	display: block;
	font-size: 13px;
	color: #F00;
	font-family: "微軟正黑體";
}

.silde_title_wrp>a {
	top: 63px;
	display: block;
	width: 39px;
	height: 39px;
	position: absolute;
	z-index: 99;
	background-repeat: no-repeat;
	background-image: url(../images/icon/left.png);
}

.silde_title_wrp>a:first-child {
	right: 4px;
}

.silde_title_wrp>a:last-child {
	background-image: url(../images/icon/right.png);
	right: 4px;
}

.silde_title_wrp .top_title {
	position: absolute;
	top: -13px !important;
	top: 0;
}

.silde_title_wrp_pro {
	width: 322px;
	/* border: 1px solid #999; */
	height: 69px;
	position: relative;
	margin-top: 10px;
	clear: both;
}

.silde_title_wrp_pro .silde_title {
	width: 231px;
	position: relative;
	overflow: hidden;
	height: 64px;
	margin-left: 38px;
}

.silde_title_wrp_pro .silde_title ul {
	position: absolute;
	width: 1400px;
	left: -77px;
	height: 63px;
}

.silde_title_wrp_pro .silde_title ul li {
	float: left;
	width: 65px;
	height: 105px;
	margin: 0 6px;
	text-align: center;
}

.silde_title_wrp_pro .silde_title ul li a {
	display: block;
	float: right;
	width: 100px;
	height: 140px;
}

.silde_title_wrp_pro .silde_title ul li a span {
	display: block;
	font-size: 13px;
	font-family: "新細明體";
	color: #666;
	height: 50px;
}

.silde_title_wrp_pro .silde_title ul li a span:first-child {
	margin-top: 10px;
	height: 68px;
}

.silde_title_wrp_pro .silde_title ul li a span:last-child {
	display: block;
	font-size: 13px;
	color: #F00;
	font-family: "微軟正黑體";
}

.silde_title_wrp_pro>a {
	margin-top: -45px;
	top: 63px;
	display: block;
	width: 39px;
	height: 39px;
	position: absolute;
	z-index: 99;
	background-repeat: no-repeat;
	background-image: url(../images/icon/left_pro.png);
}

.silde_title_wrp_pro>a:first-child {
	right: 4px;
}

.silde_title_wrp_pro>a:last-child {
	background-image: url(../images/icon/right_pro.png);
	right: 4px;
}

.silde_title_wrp_pro .top_title {
	position: absolute;
	top: -13px !important;
	top: 0;
}

.select_wrap .select_hat a {
	display: block;
	width: 182px;
	float: left;
	text-align: center;
	height: 32px;
	line-height: 32px;
	border: 1px solid #b8b8b8;
	margin: 0 1px;
	color: #FFF;
	background-color: #999;
	background: #333;
	background: linear-gradient(top, #B3AFAF, #5A5656);
	background: -moz-linear-gradient(top, #fff, #B3AFAF, #5A5656);
	background: -webkit-linear-gradient(top, #B3AFAF, #5A5656);
}

.select_wrap .select_hat a+a {
	margin-left: 1px;
}

.select_wrap .select_hat a:hover {
	background: #770A0A;
	background: linear-gradient(top, #DE0808, #770A0A);
	background: -moz-linear-gradient(top, #fff, #DE0808, #770A0A);
	background: -webkit-linear-gradient(top, #DE0808, #770A0A);
}

.select_wrap .select_main {
	overflow: hidden;
	width: 560px;
	height: 531px;
	border: 1px solid #999;
}

.select_wrap .select_main ul {
	float: left;
	width: 560px;
}

.select_wrap .select_main ul li {
	width: 153px;
	float: left;
	text-align: center;
	border: 1px solid #999;
	margin: 5.5px;
	height: 232px;
	padding: 10px;
}

.select_wrap .select_main ul li a span {
	display: block;
	width: 150px;
	margin: 6px auto;
	font-family: "新細明體";
	font-size: 13px;
	color: #666;
}

.select_wrap .select_main ul li a span:last-child {
	color: #F00;
}

.select_wrap_yb+.select_wrap_yb {
	margin-top: 10px;
}

.select_wrap_yb .select_hat a {
	display: block;
	width: 186px;
	float: left;
	text-align: center;
	height: 32px;
	line-height: 32px;
	/* border: 1px solid #b8b8b8; */
	/* margin: 0 1px; */
	color: #FFF;
	background-color: #F2B51D;
}

.select_wrap_yb .select_hat a+a {
	margin-left: 2px;
}

.select_wrap_yb .select_hat a:hover {
	background: #066;
}

.action2 {
	background: #066 !important;
}

.select_wrap_yb .select_main {
	clear: both;
	height: 265px;
	overflow: hidden;
	width: 560px;
	border: 1px solid #999;
}

.select_wrap_yb .select_main ul {
	float: left;
	width: 560px;
}

.select_wrap_yb .select_main ul li {
	width: 153px;
	float: left;
	text-align: center;
	border: 1px solid #999;
	margin: 5.5px;
	height: 232px;
	padding: 10px;
}

.select_wrap_yb .select_main ul li a span {
	display: block;
	width: 150px;
	margin: 6px auto;
	font-family: "新細明體";
	font-size: 13px;
	color: #666;
}

.select_wrap_yb .select_main ul li a span:last-child {
	color: #F00;
}

.select_side {
	float: right;
	width: 185px
}

.select_side>span {
	display: block;
	height: 30px;
	line-height: 30px;
	background-color: #066;
	color: #FFF;
}

.select_side>ul {
	border: 1px solid #b8b8b8;
}

.select_side ul li a {
	display: block;
	float: right;
	width: 56px;
	margin-top: 18px;
}

.select_side ul li ul {
	text-align: center;
}

.select_side ul li ul {
	height: 0px;
	/*height: 371px;*/
	overflow: hidden;
}

.addsele {
	height: 371px
}

.select_side ul li ul li:nth-child(2) {
	display: block;
	width: 161px;
	height: 100px;
	padding: 7px;
	border: 1px solid #b8b8b8;
	margin-left: 3px;
}

.select_side ul li ul li:nth-child(3) {
	display: block;
	width: 161px;
	height: 100px;
	padding: 7px;
	border: 1px solid #b8b8b8;
	margin-left: 3px;
}

.select_side ul li img {
	margin-bottom: 3px;
	display: block;
	float: left;
	margin-left: 2px;
}

.select_side ul li {
	clear: both;
}

.select_side ul li+li {
	margin-top: 2px;
}

.select_side ul li>span {
	display: block;
	height: 36px;
	line-height: 36px;
	color: #000;
	text-indent: 21px;
	background-image: url(../images/icon/arrow4.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-color: #F4F4F4;
}

.select_wrap_5>p {
	margin: 7px 0;
	background-image: url(../images/icon/arrow3.png);
	background-repeat: no-repeat;
	font-size: 21px;
	text-indent: 26px;
	background-position: 2px;
}

.select_wrap_5 .title {
	width: 750px;
}

.select_wrap_5 .title a {
	display: block;
	width: 149px;
	float: left;
	text-align: center;
	background: #333;
	height: 31px;
	line-height: 31px;
	background: #D3D3D3;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	color: #000;
	background: linear-gradient(top, #D3D3D3, #BDBDBD);
	background: -moz-linear-gradient(top, #fff, #D3D3D3, #BDBDBD);
	background: -webkit-linear-gradient(top, #D3D3D3, #BDBDBD);
}

.select_wrap_5 .title a:hover {
	background: #F2B51D;
}

.select_wrap_5 .title a+a {
	margin-left: 1px;
}

.select_wrap_5 .content {
	width: 750px;
	overflow: hidden;
	border: 1px solid #D1CDCD;
	height: 280px;
}

.select_wrap_5 .content ul {
	height: 280px;
}

.select_wrap_5 .content ul li {
	padding-top: 10px;
	float: left;
	width: 142px;
	border: 1px solid #C1C1C1;
	height: 230px;
	margin: 3px;
	text-align: center;
}

.select_wrap_5 .content ul li a span {
	display: block;
}

.select_wrap_5 .content ul li a span:first-child {
	color: #333;
	font-family: "新細明體";
	font-size: 13px;
	margin-top: 10px;
	height: 50px;
}

.select_wrap_5 .content ul li a span:last-child {
	color: #F00;
	font-size: 15px;
	margin-top: 26px;
}

.bank_title {
	float: left;
}

.bank_data {
	position: relative;
}

.bank_data--bank {
	padding: 6px;
	position: absolute;
	left: 81px;
	background-color: #f4f4f4;
	bottom: 7px;
	z-index: 9999;
	width: 329px;
}

.bank_data--bank .tk {
	position: absolute;
	bottom: -9px;
	right: 123px;
}

.bank_data--bank--title {
	background-color: #FFF;
	border-bottom: 1px dashed #E5E1E1;
}

.bank_data--bank--title img {
	margin-top: 10px;
	margin-left: 5px;
}

.bank_data--bank--main {
	font-size: 12px;
	font-family: "新細明體", "微軟正黑體";
	padding: 7px 20px 6px;
	background-color: #fff;
	margin-bottom: 5px;
	line-height: 20px;
}

.bank_data--bank--footer li {
	margin-left: 6px;
	font-size: 12px;
}

.bank_divs {
	float: left;
	margin-left: 22px;
	margin-top: 4px;
}

.bank_divs tr {
	position: relative;
}

.bank_divs td {
	line-height: 19px;
	border: 1px solid #aaa;
	padding: 0 6px;
	color: #747373;
	/* height: 19px; */
	font-size: 13px;
	background-color: #f9f9f9;
}

.bank_divs td:nth-child(3) {
	cursor: pointer;
}

.bank_divs td a {
	font-size: 13px;
	color: #666;
}

.bank_divs td a:hover {
	color: #CC0033;
}

.bank_divs .red_font {
	width: 50px;
	color: #CC0033;
	display: inline;
}

.b_data {
	overflow: hidden;
	height: 0px;
	width: 0px;
	margin: 0;
	padding: 0;
}

.action {
	background: #F2B51D !important;
}

.select_wrap_brand>p {
	margin: 7px 0;
	background-image: url(../images/icon/arrow3.png);
	background-repeat: no-repeat;
	font-size: 21px;
	text-indent: 26px;
	background-position: 2px;
}

.select_wrap_brand ul {
	border: 1px solid #D1CDCD;
	height: 270px;
}

.select_wrap_brand ul li {
	width: 179px;
	float: left;
	margin: 2px;
	border: 1px solid #D1CDCD;
	height: 59px;
	padding: 1px;
}

.select_price {
	margin-bottom: 10px;
	width: 720px;
	height: 61px;
	background-color: #f4f4f4;
	line-height: 61px;
	padding-left: 30px;
}

.select_price .btn {
	background-color: #066;
	width: 59px;
	color: #FFF;
	border: none;
	line-height: 22px;
	text-align: center;
}

.select_price .btn:hover {
	background-color: #333;
}

.select_price .sele {
	border-right: 1px solid #666;
	width: 111px;
}

.select_price .intext {
	width: 60px;
}

.select_price span {
	font-size: 13px;
	margin: 0 10px;
	padding-left: 10px;
	border-left: 1px solid #999;
	font-family: "新細明體";
}

.addtag {
	background: #066 !important;
	color: #FFF !important;
}

.about_store {
	width: 100%;
	margin: 0;
}

.topimg {
	margin-top: 54px;
}

.top_sele li {
	float: left;
}

.top_sele li a {
	float: left;
	width: 320px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #066;
	color: #FFF;
}

.top_sele li a:hover {
	background-color: rgba(157, 157, 157, 1);
}

.jqzoom {
	margin-bottom: 11px;
}

#all_cont01,#all_cont02,#all_cont03 {
	float: right;
	width: 750px;
}

#all_cont02 ul li {
	line-height: 40px;
	text-indent: 12px;
}

.all_cont02_1 {
	background-color: #f4f4f4;
}

.all_cont02_2 { //
	background-color: #f4f4f4;
	border: 1px solid #f4f4f4;
	margin-bottom: 10px;
}

#all_cont02 p,#all_cont03 p {
	background-color: #066;
	color: #FFF;
	text-indent: 12px;
	line-height: 33px;
	height: 33px;
	font-size: 18px;
	margin-top: 17px;
}

#all_cont03 ul li {
	line-height: 30px; //
	text-indent: 12px;
}

.all_cont03_1 {
	background-color: #f4f4f4;
}

.all_cont03_2 { //
	background-color: #f4f4f4;
	border: 1px solid #f4f4f4;
	margin-bottom: 10px;
	padding: 0 15px 0 15px;
}

#all_cont03 p {
	background-color: #066;
	color: #FFF;
	text-indent: 12px;
	line-height: 33px;
	height: 33px;
	font-size: 18px;
	margin-top: 17px;
}

#all_cont03 .n01 {
	display: block;
	background-image: url(../images/icon/arrow3.png);
	background-repeat: no-repeat;
	background-position: 11px 11px;
	text-indent: 32px;
	font-size: 20px;
	margin-top: 7px;
	/* font-weight: bold; */
	color: #066;
	border-bottom: 1px dashed #999;
}

#all_cont03 ul li>ul {
	margin-left: 33px;
}