/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,dfn,th,var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	/*background: #fff url(../images/bg.gif) top center repeat-x;*/
	font-family: Helvetica Neue, Helvetica, Arial;
	color: #ffffff;
}

#wrapper {
	margin: 0 auto;
	width: 940px;
}

.main_content,.uppersection {
	width: 940px;
}

.logo {
	margin: 0 auto 60px auto;
	width: 160px;
	text-align: center;
}

.logo h1 {
	width: 95px;
	height: 70px;
	margin: 44px auto 5px auto;
	border-radius: 50%;
	background: #fff;
	color: #68b2b1;
	text-align: center;
	padding-top: 25px;
	font-size: 49px;
}

.logo span {
	font-size: 22px;
	text-align: center;
	margin: 0 auto;
}

h2 {
	font-weight: normal;
	text-align: center;
	display: block;
	font-size: 30px;
}

h2 strong {
	text-transform: uppercase;
	font-size: 64px;
}

h2 span {
	font-style: italic;
	font-size: 30px;
}

p {
	font-size: 19px;
	text-align: center;
	padding: 20px 140px 0;
	line-height: 26px;
	font-weight: 300;
}

ul.social {
	margin-top: 90px;
	text-align: center;
}

ul.social li {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

ul.social li a {
	color: #333;
	text-decoration: none;
}

ul.social li a:hover {
	text-decoration: underline;
	padding-top: 3px;
}

ul.social li a.fb {
	background: url(../images/social.png) right -30px no-repeat;
}

ul.social li a.tw {
	background: url(../images/social.png) right -90px no-repeat;
}

ul.social li a.google {
	background: url(../images/social.png) right -150px no-repeat;
}

ul.social li a.insta {
	background: url(../images/social.png) right -60px no-repeat;
}

ul.social li a.skype {
	background: url(../images/social.png) right -90px no-repeat;
}

ul.social li a.vimeo {
	background: url(../images/social.png) right -120px no-repeat;
}




article .box {
	width: 80%;
	margin: 0 auto;
	text-align: center;
/*	background: #f4f4f4;*/
}

article .box img { 
	max-width: 280px;
	width: 100%; 
	height: auto;
	margin: 0 auto;
}



.loader {
  width: 130px;
  height: 20px;
  position: absolute;
  top: 240px;
  left: 0;right:0;
  margin:auto;

}
.loader > div {
  content: " ";
  width: 6px;
  height: 6px;
  background: #2196F3;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: shift 2s linear infinite;
          animation: shift 2s linear infinite;
}
.loader > div:nth-of-type(1) {
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}
.loader > div:nth-of-type(2) {
  -webkit-animation-delay: -.8s;
          animation-delay: -.8s;
}
.loader > div:nth-of-type(3) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.loader > div:nth-of-type(4) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes shift {
  0% {
    left: -60px;
    opacity: 0;
    background-color: #4a4a4a;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: 100px;
    opacity: 1;
  }
  100% {
    left: 160px;
    background-color: #ccc;
    opacity: 0;
  }
}

@keyframes shift {
  0% {
    left: -60px;
    opacity: 0;
    background-color: #4a4a4a;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: 100px;
    opacity: 1;
  }
  100% {
    left: 160px;
    background-color: #ccc;
    opacity: 0;
  }
}



