<html>
<head>
<title><?php echo $info['subject'] ?></title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
    <p><h2><?php echo $info['subject'] ?></h2><p>
    <p><b style="color:red"><?php echo $info['message']?></p>
</body>
</html>