<html>
<head>
<title><?php echo $info['subject'] ?></title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
    <p><h2><?php echo $info['subject'] ?></h2><p>
    <p> 建議您在使用新密碼登入後，立即變更此密碼，並妥善保存!</p>
    <p><b>您的新密碼為:</b><b style="color:red"><?php echo $info['new_password'] ?></b></p>
</body>
</html>