<html>
<head>
<title><?php echo $info['subject'] ?></title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
    <p><h2><?php echo $info['subject'] ?></h2><p>
    <p>當您收到此信件，代表您已經註冊成功，正式成為<a href="<?php echo $info['webpage']?>"><?php echo $info['company']?></a>會員!</p>
    <p>感謝您的加入!</p>
</body>
</html>