<style>
<!--
.page_wrap--data_area--find label {
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
-->
</style>


<body>
	<div id="wrapper">

		<!-- 引入logo -->
	<?php $this->load->view('vendor/common/logo.tpl'); ?>

		<div id="page_wrap">

			<div class="page_wrap--data_area">
				<p class="page_wrap--data_area--title">

					<!-- 引入廠商 logo -->
				<?php $this->load->view('vendor/common/logo_vendor.tpl'); ?>
				
				
				<form action="" method="">
					<input type="text" name="" /> <input type="submit" value="查詢" /><br />
					<span>熱門檢索:<a href="<?php echo DIO_BASE_URL ?>/default">臉部保養</a><a
						href="<?php echo DIO_BASE_URL ?>/default">臉部保養</a><a
						href="<?php echo DIO_BASE_URL ?>/default">臉部保養</a> </span>
				</form>
				</p>
				<div class="page_wrap--data_area--toptag">
					<p class="page_wrap--data_area--toptag-left1">
						<span>1.選擇商品所在分類</span>
					</p>
					<p class="page_wrap--data_area--toptag-left2">
						<span>2.填寫商品相關資料</span>
					</p>
					<p class="page_wrap--data_area--toptag-target">
						<span>3.商品發布成功</span>
					</p>
				</div>

				<div class="page_wrap--data_area--find">
					<label><img src="<?php echo DIO_FILE_PATH ?>/images/loading.gif"
						alt="" width="30px" height="30px" />恭喜您，商品新增成功! 請稍候. . .</label>
				</div>
			</div>


		</div>

		<!-- 引入尾部 -->
		<?php $this->load->view('vendor/common/footer.tpl'); ?>
	</div>


	<script type="text/javascript">

setInterval(redirect, 3000);

function redirect(){
	location.href="<?php echo DIO_BASE_URL . '/center/product_list' ?>";
}

</script>


</body>
</html>
